.table thead {
    background-color: #ffba00;
    color: #fff;
    border: 0;
}

table tbody tr:nth-child(odd) {
    background-color: #FAFAFF!important
}


.pagination > li.page-item .page-link {
    color: gray !important;
    background-color: #fff!important;
    border-color: #fff !important;
    border: 0!important;
}