{% extends 'base.html.twig' %}

{% block title %} Nos Produits | {{platform_name}} {% endblock %}

{% block body %}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1 class="text-capitalize">Notre sélections <br>pour vous</h1>
				<nav class="d-flex align-items-center">
					<a href="{{path('home')}}">Accueil<span class="lnr lnr-arrow-right"></span>
					</a>
					<a href="/">équipements</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->



<!--================Blog Area =================-->
<section class="blog_area">
	<div class="container">
		<div class="" style='margin-top:100px'>
			<div id="root">
			</div>
		</div>
	</div>
</section>
<!--================Blog Area =================-->

{% endblock %}